<div class="jumbotron text-center">
    <h1 class="display-3"> {{ title }}</h1>
    <p class="lead">踊跃提出希望的课程，目前计划是录制react + reudx + node.js 的课程</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">添加新课程</a>
</div>